.today{
    background: #85cb88;
}
.calendarDay{
    color: #3d423a;
    margin: 0;
    padding-left: 10px;
    background: #e9e9e9;
    font-weight: bold;
}

.task{
    background: #d8d8d8;
    margin-top: 2px;
    margin-bottom: 0;
    padding-left: 2px;
}
.task.inactive{
    text-decoration: line-through;
}
.task.returned{
    background: #ff556b;
}
.task > .description{
    transition: max-height 0.3s;
    transform-origin: top;
    max-height: 0;
    overflow: hidden;
    background: #b2d8a6 !important;
}
.task:hover > .description{
    max-height: 400px;
}